.timer__container {
   position: relative;
   width: 200px;
   margin-bottom: 20px;
}

.timer-label {
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   transition: 0.3s;
   pointer-events: none; /* чтобы метка не перехватывала клики */
   color: #333; /* цвет метки (можно изменить по желанию) */
}

.setting__timer {
   display: block;
   padding: 5px;
   font-size: 16px;
   border: 2px solid #ccc;
   border-radius: 5px;
   width: 100%;
   outline: none;
}

.setting__timer:focus + .timer-label,
.setting__timer:not(:placeholder-shown) + .timer-label {
   font-size: 12px;
   transform: translateY(-100%) translateX(5px);
   background-color: #fff;
   padding: 0 5px;
   color: #007bff; /* цвет метки при фокусе или при вводе */
}

.timer-label.active {
   font-size: 12px;
   transform: translateY(-190%) translateX(-14px);
   background-color: transparent;
   padding: 0 5px;
   color: #007bff;
}

 input[type="number"]{
   -moz-appearance: textfield;
 }

 input[type="number"]::-webkit-outer-spin-button,
 input[type="number"]::-webkit-inner-spin-button{
   -webkit-appearance: none;
 }