.menu {
   margin-top: 13px;
}


.menu__list {
   display: flex;
   align-items: center;
   gap: 30px;
}

.menu__item-click {
   display: flex;
   align-items: center;
   gap: 16px;
   position: relative;
   padding-bottom: 10px;
}

.menu__item-click::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 3px;
   width: 0;
   background-color: #1CA1D0;
   transition: width 0.3s;
}

.menu__item-click.active::after,
.menu__item-click:hover::after {
   width: 100%;
}

.menu__item-click.active .menu__item-link {
   color: #f9f9f9;
}

.menu__item-click.active path {
   fill: #1CA1D0;
}


.menu__item-link {
   color: #87B0D1;
   font-family: Inter;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.08px;

}



.main__settings {
   width: 436px;

}